@import "main.css";

a {
	color: #ff9581;
}

a:hover {
	color: #FFC0B4;
}

.profile-photo-wrapper {
	display: block;
	text-align: center;
	white-space: nowrap;
}

.profile-photo {
	width: 35%;
}

.about-wrapper {
	margin: 0 auto;
	width: 60%;
}

.grid-title {
	text-align: left;
	padding-bottom: 0;
}

.description {
	padding-bottom: 2em;
}